@import url("https://fonts.googleapis.com/css2?family=Poppins:wgth@200;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #EB8100;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;

}

.pw-container{
    background-color: rgb(167, 99, 16);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    
}

.pw-header {
    padding: 1rem;

}
.pw {
    background-color: #EB8100;
    display: flex;
    font-size: 2rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button{
    background-color: rgb(250, 186, 68);
    border: none;
    color: rgb(32, 32, 31);
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    cursor: pointer;
    top: 0; 
    right: 0;
    transform: translate(0, -50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button{
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body{
    padding: 0 1rem 1rem;

}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate{
    background-color: coral;
    color: rebeccapurple;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.75rem;
    border: none;
    margin-top: 1rem;
    width: 100%;

}